* {
    padding: 0;
    margin: 0;
}

.nav-item a {
    padding: 0 20px;
    color: white;
}

.navbar {
    background-image: linear-gradient(to right, #36A6AC, #288AC7);
    font-family: "Lilita One", sans-serif;
    position: sticky;
}

.nav-brand img {
    height: 120px;
    padding-left: 30px;
}

.navbar-nav li {
    padding: 0 20px;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.clearfix {
    margin-top: 150px;
}



#banner {
    background-image: linear-gradient(to right, #36A6AC, #288AC7);
    color: white;
    padding-top: 7%;
}

.brand {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.img-fluid {
    padding-bottom: 4%;
    margin-right: 2%;
}

.about {
    font-weight: lighter;
}

h2, h1, h4 {
    text-align: center;
    font-family: "Lilita One", sans-serif;
}
#services {
    background-image: linear-gradient(to right, #36A6AC, #288AC7);
    color: white;
    padding-top: 7%;
    gap: 2%;
}
p{
font-weight: lighter;
}
